<a href="https://colab.research.google.com/github/JhonasVoc/introducao-a-data-science/blob/master/Python__para_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Funções

## Função sem parametro

In [ ]:
def media():
    calculo = (10+5+4)/3
    print(calculo)

In [ ]:
media()

6.333333333333333

## Função com parâmetros

In [ ]:
def media (nota_1,nota_2,nota_3):
    calculo = round((nota_1+nota_2+nota_3)/3,2)
    print(calculo)

In [ ]:
media(3,5,6)

4.67

In [ ]:
nota1 =5
nota2 = 7
nota3 =9

media(nota1,nota2,nota3)

7.0

Demanda para calcula a média de um estudadente a partir de uma lista, sendo possível alterar a quantidade de notas, sem impedir que cálculo precise ser alterado.

In [ ]:
# Notas do(a) estudade
notas =[8,4.5,7.5,9,10]

In [ ]:
def media(lista):
    calculo = sum(lista) / len(lista)
    print(calculo)

In [ ]:
media(notas)

7.8

In [ ]:
resultado = media(notas)

7.8

In [ ]:
type(resultado)

NoneType

In [ ]:
# Uma variável que nasce em uma função, morre dentro da função,ou seja, nãa tem tipo.

## Escopo global e local


<font color = blue>O escopo global é o espaço no qual uma variável pode ser acessada por qualquer função ou código que esteja sendo executado no programa. Já o escopo local é o espaço no qual a variável pode ser acessada apenas pela função em que foi definida.

In [ ]:
x = 5

def soma():
  y = 5
  print(x + y)

In [ ]:
soma()

10

In [ ]:
print(x)

5

In [ ]:
print(y)

NameError: ignored

<font color = red> Esse erro ocorre pois aa variável x faz parte do escopo global e a y esta num contexto local

## Funções com retorno

In [ ]:
notas = [8.5,8,10,4,6]

In [ ]:
def media(lista):
    calculo = sum(lista)/len(lista)
    return calculo

In [ ]:
resultaddo = media(notas)
resultado

<font color = blue>Recebemos uma nova demanda, desta vez, de calcular a média de um estudante a partir de uma lista e retornar tanto a média quanto a situação do estudante ("Aprovado(a)" se a nota for maior ou igual a 6.0, caso contrário, será "Reprovado(a)")

In [ ]:
def boletim(lista):
    media = sum(lista)/ len(lista)

    if media >= 6:
        sit = "aprovado"
    else:
        sit = "reprovado"

    return(media, sit) #tupla

In [ ]:
boletim(notas)

(7.3, 'aprovado')

In [ ]:
media, sit = boletim(notas) # agora estou passanddo os valores para media e sit num contexto global

In [ ]:
media

7.3

In [ ]:
sit

'aprovado'

In [ ]:
print(f'O(a) estudante atingiu uma média de {media} e foi {sit}.')

O(a) estudante atingiu uma média de 7.3 e foi aprovado.

## Documentação Type hint

In [ ]:
def greeting(name: str) -> str:
    return 'Hello ' + name

In [ ]:
greeting("Jhonas")

'Hello Jhonas'

In [ ]:
def media(lista: list) -> float:
  calculo = sum(lista) / len(lista)
  return calculo

In [ ]:
# a nossa função recebe uma lista do tipo list e retorna uma variável do tipo float
# caso não recebe nenhum valor de parâmetro será passada uma lista com um único
# elemento sendo ele zero
def media(lista: list=[0]) -> float:
  calculo = sum(lista) / len(lista)
  return calculo

In [ ]:
media()

0.0

## Docstring

In [ ]:
def media(lista: list=[0]) -> float:
  ''' Função para calcular a média de notas passadas por uma lista

  lista: list, default [0]
    Lista com as notas para calcular a média
  return = calculo: float
    Média calculada
  '''
  calculo = sum(lista) / len(lista)
  return calculo

## Função lambda

<font color = blue> Vamos requisitar ao usuário a entrada das 3 notas (N1, N2, N3) do estudante e devolver a média ponderada deste estudante. Os pesos das notas são de, respectivamente 3, 2, 5. Precisamos exibir um pequeno texto em que indicamos a média do(a) estudante. Vamos resolver esse desafio?

In [ ]:
# Comparando uma função de qualitativo no formato de função para função anônima
nota = float(input("Digite a nota do(a) estudante: "))

def qualitativo(x):
    return x + 0.5

qualitativo(nota)

Digite a nota do(a) estudante: 7

7.5

In [ ]:
# Testando a mesma função para uma função lambda
nota = float(input("Digite a nota do(a) estudante: "))

qualitativo = lambda x: x + 0.5

qualitativo(nota)

Digite a nota do(a) estudante: 8

8.5

In [ ]:
# Recebendo as notas e calculando a média ponderável
N1 = float(input("Digite a 1ª nota do(a) estudante: "))
N2 = float(input("Digite a 2ª nota do(a) estudante: "))
N3 = float(input("Digite a 3ª nota do(a) estudante: "))

media_ponderavel = lambda x, y, z: (x * 3 + y * 2 + z * 5)/10
media_estudante = media_ponderavel(N1,N2,N3)
media_estudante

Digite a 1ª nota do(a) estudante: 7
Digite a 2ª nota do(a) estudante: 8
Digite a 3ª nota do(a) estudante: 7

7.2

In [ ]:
# Exibindo a média
print(f'O(a) estudante atingiu uma média de {media_estudante}')

O(a) estudante atingiu uma média de 7.2

## Função map



<font color = blue> O map é uma _BUILT-IN FUNCTIONS que mapeia valores. Quando usado junto à lambda, conseguimos realizar funções simples e rápidas que nos permitem alterar valores de variáveis, listas e até dicionários.

In [ ]:
# Notas do(a) estudante
notas = [6.0, 7.0, 9.0, 5.5, 8.0]
qualitativo = 0.5

In [ ]:
# vai dar erro porque estamos tentanando somar list com numero
notas_atualizadas = lambda x: x + qualitativo
notas_atualizadas(notas)

TypeError: ignored

In [ ]:
# Não conseguimos aplicar o lambda em lista direto, é necessário utilizarmos junto a ela a função map
notas_atualizadas = map(lambda x: x + qualitativo, notas)
notas_atualizadas

In [ ]:
notas_atualizadas = list(notas_atualizadas)
notas_atualizadas

[6.5, 7.5, 9.5, 6.0, 8.5]

In [ ]:
# convertendo temperatura
temp_celsius = [0, 25, 37, 78, 100]
temp_fahrenheit = list(map(lambda x: (x * 9/5) + 32, temp_celsius))
temp_fahrenheit

[32.0, 77.0, 98.6, 172.4, 212.0]

# Lista de lista

<font color = blue> Recebemos a demanda de transformar uma lista com o nome e as notas dos três trimestres de estudantes em uma lista simples com os nomes separados das notas e uma lista de listas com as três notas de cada estudante separadas umas das outras.
Os dados recebidos correspondem a uma lista com os nomes e as respectivas notas de cada estudante. Vamos resolver esse desafio? Para facilitar o nosso entendimento do processo vamos trabalhar com uma turma fictícia de 5 estudantes.

In [ ]:
notas_turma = ['João', 8.0, 9.0, 10.0,
               'Maria', 9.0, 7.0, 6.0,
               'José', 3.4, 7.0, 7.0,
               'Cláudia', 5.5, 6.6, 8.0,
               'Ana', 6.0, 10.0, 9.5]

In [ ]:
nomes = list()
notas_juntas = list()

In [ ]:
for i in range (len(notas_turma)):
    if i == 0 or i % 4 ==0:
        nomes.append(notas_turma[i])
    else:
        notas_juntas.append(notas_turma[i])

In [ ]:
nomes

['João', 'João', 'Maria', 'José', 'Cláudia', 'Ana']

In [ ]:
notas_juntas

[8.0, 9.0, 10.0, 9.0, 7.0, 6.0, 3.4, 7.0, 7.0, 5.5, 6.6, 8.0, 6.0, 10.0, 9.5]

In [ ]:
notas = []

for i in range(0,len(notas_juntas),3):
    notas.append([notas_juntas[i],notas_juntas[i+1],notas_juntas[i+2]])
notas

[[8.0, 9.0, 10.0],
 [9.0, 7.0, 6.0],
 [3.4, 7.0, 7.0],
 [5.5, 6.6, 8.0],
 [6.0, 10.0, 9.5]]

In [ ]:
notas[0]

[8.0, 9.0, 10.0]

In [ ]:
notas[0][2]

10.0

#Lista de Tuplas

<font color = blue>As tuplas são estruturas de dados usadas para armazenar itens em uma única variável. São imutáveis, ou seja, não permitem adição, alteração ou remoção de seus elementos. Após ser construída, seus dados são fixos.

<font color = orange> Nesta nova demanda, precisamos gerar uma lista de tuplas com os nomes dos estudantes e o código ID de cada um para a plataforma de análise dos dados. A criação do código consiste em concatenar a primeira letra do nome do estudante a um número aleatório de 0 a 999. Os dados recebidos correspondem a uma lista dos nomes de cada estudante.

In [ ]:
estudantes = ["Jhonas","Douglas","Matheus","Maria","Joaquina","Afonso"]
estudantes

['Jhonas', 'Douglas', 'Matheus', 'Maria', 'Joaquina', 'Afonso']

In [ ]:
from random import randint
def gera_codigo():
    return str(randint(0,999))

In [ ]:
codigo_estudantes = list()
for i in range(len(estudantes)):
    codigo_estudantes.append((estudantes[i],estudantes[i][0]+ gera_codigo()))
codigo_estudantes

[('Jhonas', 'J630'),
 ('Douglas', 'D160'),
 ('Matheus', 'M98'),
 ('Maria', 'M928'),
 ('Joaquina', 'J366'),
 ('Afonso', 'A601')]

 # List Comprehension



```
`# [expressão for item in lista]
```

<font color = blue>Recebemos a demanda de criar uma lista com as médias dos estudantes da lista de listas que criamos na Situação 6. Lembrando que cada lista da lista de listas possui as três notas de cada estudante.

In [ ]:
notas = [[8.0, 9.0, 10.0],
         [9.0, 7.0, 6.0],
         [3.4, 7.0, 7.0],
          [5.5, 6.6, 8.0],
          [6.0, 10.0, 9.5]]
nomes = [('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')]

In [ ]:
def media(lista: list=[0]) -> float:
  ''' Função para calcular a média de notas passadas por uma lista

  lista: list, default [0]
    Lista com as notas para calcular a média
  return = calculo: float
    Média calculada
  '''

  calculo = sum(lista) / len(lista)

  return calculo



```
# [expr for item in lista]
#[expr for item in lista if cond]
```

In [ ]:
medias = [round(media(nota),1) for nota in notas]
medias

[9.0, 7.3, 5.8, 6.7, 8.5]

<font color = blue> Agora, precisamos utilizar as médias calculadas no exemplo anterior, pareando com o nome dos estudantes. Isto será necessário para gerar uma lista que selecione aqueles estudantes que possuam uma média final maior ou igual a 8 para concorrer a uma bolsa para o próximo ano letivo.

In [ ]:
# Gerando a lista de nomes (extraindo da tupla)
nomes = [nome[0] for nome in nomes]
nomes

['João', 'Maria', 'José', 'Cláudia', 'Ana']

## ZIP para parear elementos

In [ ]:
estudantes = list(zip(nomes, medias))
estudantes

[('João', 9.0), ('Maria', 7.3), ('José', 5.8), ('Cláudia', 6.7), ('Ana', 8.5)]

In [ ]:
candidatos = [estudante[0] for estudante in estudantes if estudante[1] >= 8.0]
candidatos

['João', 'Ana']

### exemplo

In [ ]:
id = [1, 2, 3, 4, 5]
regiao = ["Norte", "Nordeste", "Sudeste", "Centro-Oeste", "Sul"]

mapa = list(zip(id, regiao))
mapa

[(1, 'Norte'),
 (2, 'Nordeste'),
 (3, 'Sudeste'),
 (4, 'Centro-Oeste'),
 (5, 'Sul')]

In [ ]:
codigos = ["1000", "1001", "1002", "1003", "1004", "1005"]
frutas = ["maçã", "uva", "banana", "laranja"]

mercadorias = list(zip(codigos, frutas))
mercadorias

[('1000', 'maçã'), ('1001', 'uva'), ('1002', 'banana'), ('1003', 'laranja')]

In [ ]:
# extraindo  daos, inverso do exemplo acima
tupla_iteravel = [('J392', 'João'), ('M890', 'Maria'), ('J681', 'José'), ('C325', 'Claúdia'), ('A49', 'Ana')]
ids, nomes  = zip(*tupla_iteravel)

ids = list(ids)
nomes = list(nomes)

print("IDs = ", ids)
print("Nomes = ", nomes)

IDs =  ['J392', 'M890', 'J681', 'C325', 'A49']
Nomes =  ['João', 'Maria', 'José', 'Claúdia', 'Ana']

## Lista compreenshion com if-lse

Criar uma lista da situação dos estudantes em que caso sua média seja maior ou igual a 6 receberá o valor "Aprovado" e caso contrário receberá o valor "Reprovado".

Gerar uma lista de listas com:

Lista de tuplas com o nome dos estudantes e seus códigos.

Lista de listas com as notas de cada estudante.

Lista com as médias de cada estudante.

Lista da situação dos estudantes de acordo com as médias.

Os dados que utilizaremos são os mesmos que geramos nas situações anteriores (nomes, notas, medias).

In [ ]:
nomes = [('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')]
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
medias = [9.0, 7.3, 5.8, 6.7, 8.5]

situacao = [resultado_if if conddd else resultao_else for item in lista]

In [ ]:
situacao =["Aprovado(a)" if media >= 6 else "Reprovado(a)"for media in medias]
situacao

['Aprovado(a)', 'Aprovado(a)', 'Reprovado(a)', 'Aprovado(a)', 'Aprovado(a)']

In [ ]:
lista_completa = [nomes,notas, medias, situacao]
lista_completa

[[('João', 'J720'),
  ('Maria', 'M205'),
  ('José', 'J371'),
  ('Cláudia', 'C546'),
  ('Ana', 'A347')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado(a)', 'Aprovado(a)', 'Reprovado(a)', 'Aprovado(a)', 'Aprovado(a)']]


#Dict comprehension

<font color = orange> {chave: valor for item in lista}

In [ ]:
lista_completa = [[('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')],
                  [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]],
                  [9.0, 7.3, 5.8, 6.7, 8.5],
                  ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']]

In [ ]:
# Colunas com os tipode dos dados (exceto nome)
# usamos i +1 no valor para não pegar a tupla de nome com código
coluna = ["Notas", "Média final","Situação"]

cadastro = { coluna[i] :lista_completa[i+1] for i in range(len(coluna))}
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Média final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']}

In [ ]:
# Vamos por fim adiiconaar o nome dos studantes, extraindo apenas seus nomes
cadastro["Estudante"]=  [lista_completa[0][i][0] for i in range (len(lista_completa[0]))]
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Média final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado'],
 'Estudante': ['João', 'Maria', 'José', 'Cláudia', 'Ana']}

#Tratamento exceções

<font color = blue> O tratamento de exceções é muito útil quando queremos no nosso fluxo do código não seja interrompido.
Por exemplo, através de alternativas e edscrições para o usuário.

In [ ]:
except <nome_da_excecao as e>:

Vamos trabalhar nesse exemplo com a exceção Key Error que interromperá o processo desse pedaço do código. Vamos testar esse primeiro tratamento?

In [ ]:
notas = {'João': [8.0, 9.0, 10.0], 'Maria': [9.0, 7.0, 6.0],
         'José': [3.4, 7.0, 8.0],'Cláudia': [5.5, 6.6, 8.0],
         'Ana': [6.0, 10.0, 9.5], 'Joaquim': [5.5, 7.5, 9.0],
         'Júlia': [6.0, 8.0, 7.0], 'Pedro': [3.0, 4.0, 6.0]}

In [ ]:
nome = input("Digite o nome do(a) estudante: ")
resultado = notas[nome]
resultado

Digite o nome do(a) estudante: Matheus

KeyError: ignored

In [ ]:
try:
    nome = input("Digite o nome do(a) estudante: ")
    resultado = notas[nome]
except Exception as e:
    print(type(e), f"Erro: {e}")

Digite o nome do(a) estudante: Matheus
<class 'KeyError'> Erro: 'Matheus'

In [ ]:
try:
    nome = input("Digite o nome do(a) estudante: ")
    resultado = notas[nome]
except KeyError:
    print("Estudante não matriculado(a) na turma")

Digite o nome do(a) estudante: Matheus
Estudante não matriculado(a) na turma

Você criou um código que lê um dicionário com as notas dos estudantes e quis retornar a lista de notas de determinado(a) estudante. Caso o(a) estudante não esteja matriculado(a) na classe devemos tratar a exceção para aparecer a mensagem "Estudante não matriculado(a) na turma", e se a exceção não for lançada devemos exibir a lista com as notas do(a) estudante. Vamos trabalhar nesse exemplo com a exceção Key Error que interromperá o processo desse pedaço do código. Vamos testar esse tratamento?

In [ ]:
try:
    nome = input("Digite o nome do(a) estudante: ")
    resultado = notas[nome]
except KeyError:
    print("Estudante não matriculado(a) na turma")
else:
    print(resultado)

Digite o nome do(a) estudante: Joaquim
[5.5, 7.5, 9.0]

## Finally

In [ ]:
try:
    # código aa ser executado. Caso uma exceção seja lançada, par imediatamente
except:
    # Se umaa exceçãao for lançada no try, rode esse código, senão pule esta etapa
else:
    # se não houver uma exceção lançada pelo try, rode essa parte
finally:
    # Rode essa parte (com ou sem exceção)

IndentationError: ignored

Você criou um código que lê um dicionário com as notas dos estudantes e quis retornar a lista de notas de um estudante. Caso o(a) estudante não esteja matriculado(a) na classe devemos tratar a exceção para aparecer a mensagem "Estudante não matriculado(a) na turma" e se a exceção não for lançada devemos exibir a lista com as notas do(a) estudante. Um texto avisando que "A consulta foi encerrada!" deve ser exibido com ou sem a exceção ser lançada. Vamos trabalhar nesse exemplo com a exceção Key Error que interromperá o processo desse pedaço do codigo. Vamos testar esse tratamento?

In [ ]:
try:
    nome = input("Digite o nome do(a) estudante: ")
    resultado = notas[nome]
except KeyError:
    print("Estudante não matriculado(a) na turma")
else:
    print(resultado)
finally:
    print("A consulta foi encerrada!")

Digite o nome do(a) estudante: Joaquim
[5.5, 7.5, 9.0]
A consulta foi encerrada!

##  Raise

<font color = blue> Outra forma de trabalhar com exceções, é criar uma própria pensando em um comportamento que não queremos que ocorra em nosso programa. Para isso, usamos a palavra-chave raise que permitirá que lancemos uma exceção.

In [ ]:
raise ValueError("A lista de notas deve possuir dez elementos")

ValueError: ignored

Você criou uma função para calcular a média de um estudante em uma dada matéria passando em uma lista as notas deste estudante. Você pretende tratar 2 situações:

Se a lista possuir um valor não numérico o cálculo de média não serà executado e uma mensagem de "Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!" será exibida.
Caso a lista tenha mais de 4 notas, será lançada uma exceção do tipo ValueError informando que "A lista não pode possuir mais de 4 notas."
Um texto avisando que "A consulta foi encerrada!" deve ser exibido com ou sem a exceção ser lançada. Vamos resolver esse desafio?

In [ ]:
def media(lista: list=[0]) -> float:
    ''' Função para calcular a média de notas passadas por uma lista

lista: list, default[0]
    Lista com as notas para calcular a média
    return calculo: float
    Média calculada
'''

    calculo = sum(lista) / len(lista)

    if len(lista) > 4:
        raise ValueError("A lista não pode possuir mais de 4 notas.")

    return calculo

In [ ]:
raise ValueError("A lista não pode possuir mais de 4 notas.")

ValueError: ignored

In [ ]:
try:
    notas = [6, 7, 8, 6, 9]
    resultado = media(notas)
except TypeError:
    print("Não foi possível calcular a média do(a) estudante. Só são aceitos valores numéricos!")
except ValueError as e:
    print(e)
else:
    print(resultado)
finally:
    print("A consulta foi encerrada!")

A lista não pode possuir mais de 4 notas.
A consulta foi encerrada!

# Exercicios

<font color = orange> 1. Faça um programa que solicite à pessoa usuária digitar dois números float e calcular a divisão entre esses números. O código deve conter um tratamento de erro, indicando o tipo de erro que foi gerado caso a divisão não seja possível de realizar.

<font color = orange>Teste o programa com o segundo valor numérico do input igual a 0. Também teste utilizando caracteres textuais no input para checar os tipos de erro que ocorrem.

In [24]:


def divisao(n1:float,n2:float) -> float:
    """
        função para calcular ivisão entre dois números float
    """

    if n2 == 0:
        raise ValueError("O segundo número não pode ser ZERO") # inserimos o erro de divisão por zero.
    calculo = n1/n2
    return calculo

In [23]:
try:
    n1= float(input("Digite o primeiro número"))
    n2= float(input("Digite o segundo número"))
    resultado = divisao(n1,n2)
    print(f"O resultado da divisão : {resultado}")
except ValueError as ve:
    print(f"Erro: {ve}")
except Exception as e:
    print(type(e),f'Erro: {e}')

Digite o primeiro número3.2
Digite o segundo número2.1
O resultado da divisão : 1.5238095238095237

<font color = orange>2. Faça um programa que solicite à pessoa usuária digitar um texto que será uma chave a ser pesquisada no seguinte dicionário: idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}, armazenando o resultado do valor em uma variável. O código deve conter um tratamento de erro KeyError, imprimindo a informação 'Nome não encontrado', caso ocorra o erro; e imprimir o valor caso não ocorra nenhum.

In [25]:
idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

In [29]:
try:
    n1 = str(input("Digite o nome de uma pessoa!: "))
    v1 = idades[n1]
    print(f"A idade da pessoa {n1 } é {v1}")
except KeyError as ke:
    print(f"Nome não encontrado : {ke}")

Digite o nome de uma pessoa!: Jonas
Nome não encontrado : 'Jonas'

<font color = orange> 3. Crie uma função que recebe uma lista como parâmetro e converta todos os valores da lista para float. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar a lista caso não tenha ocorrido nenhum erro. Por fim, deve ter a cláusula finally para imprimir o texto: 'Fim da execução da função'.

In [32]:
def converte_lista(lista):
    try:
        nova_lista = [float(elemento) for elemento in lista]
    except Exception as e:
        print(type(e),f"Erro : {e}")
    else:
        return nova_lista
    finally:
        print("Fim da execução da função")

In [34]:
converte_lista([3,4,3,4])

Fim da execução da função

[3.0, 4.0, 3.0, 4.0]

<font color = orange> 4. Crie uma função que recebe duas listas como parâmetros e agrupe os elementos um a um das listas, formando uma lista de tuplas de 3 elementos, no qual o primeiro e segundo elemento da tupla são os valores na posição i das listas e o terceiro elemento é a soma dos valores na posição i das listas.

In [35]:
def soma_listas(lista1, lista2):
    try:
        if len(lista1) == len(lista2):
            dados = [(lista1[i], lista2[i], lista1[i]+lista2[i]) for i in range(len(lista1))]
        else:
            raise IndexError('A quantidade de elementos em cada lista é diferente.')
    except Exception as e:
        print(type(e), f'Erro: {e}')
    else:
        return dados